{% extends "base.html" %}

{% block content %}
<h1>Sensor Data</h1>

<table>
    <th>
        <tr>
            <td><b>Humidity</b></td>
            <td><b>Humidity Temp</b></td>
            <td><b>Barometer Temp</b></td>
            <td><b>Barometer Pressure</b></td>
            <td><b>Light</b></td>
            <td><b>Timestamp</b></td>
        </tr>
    </th>
    {% for item in data %}
    <tr>
        <td>{{ item.humidity }}%</td>
        <td>{{ item.humidity_temp }}°C</td>
        <td>{{ item.baro_temp }}°C</td>
        <td>{{ item.baro_pressure }}hPa</td>
        <td>{{ item.light }}lx</td>
        <td>{{ item.timestamp }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}